Source: i3-gnome
Section: gnome
Priority: optional
Maintainer: Lorenzo Villani <lorenzo@villani.me>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/lvillani/i3-gnome

Package: i3-gnome
Architecture: all
Depends: ${misc:Depends},
  desktop-file-utils,
  gnome-control-center,
  gnome-keyring,
  gnome-session,
  gnome-settings-daemon,
  i3-wm,
Description: i3-wm + GNOME Session infrastructure
 This package adds a new session type "i3 + GNOME" which allows
 you to start i3-wm and use the GNOME 3 Session infrastructure.

Package: ubuntu-i3-desktop
Architecture: all
Depends: ${misc:Depends},
  compton,
  feh,
  i3-gnome,
  i3-wm,
  i3status,
  kupfer,
  rxvt-unicode-256color,
  ubuntu-gnome-desktop
Description: Ubuntu i3-gnome desktop metapackage.
