#
# i3 configuration file
# See: http://i3wm.org/docs/userguide.html
#

#
# Variables
#

set $mod Mod4

set $color_fg "#F8F8F0"
set $color_fg_1 "#F8F8F2"

set $color_bg "#272822"
set $color_bg_1 "#49483E"
set $color_bg_2 "#75715E"

set $color_purple "#AE81FF"
set $color_cyan "#66D9EF"
set $color_green "#A6E22E"
set $color_yellow "#E6DB74"
set $color_orange "#FD971F"
set $color_magenta "#F92672"

#
# UI
#

hide_edge_borders both
new_float pixel 2
new_window pixel 2

# Color Class            Border          Background      Text       Indicator
client.focused           $color_bg_1     $color_bg_1     $color_fg  $color_bg_1
client.focused_inactive  $color_bg       $color_bg       $color_fg  $color_bg
client.unfocused         $color_bg       $color_bg       $color_fg  $color_bg
client.urgent            $color_magenta  $color_magenta  $color_fg  $color_magenta

font pango:Ubuntu, Icons 11

#
# Keyboard
#

floating_modifier $mod

bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Shift+q kill
bindsym Control+space exec --no-startup-id i3-dmenu-desktop --dmenu="dmenu -nb $color_bg -nf $color_fg -sb $color_bg_2 -sf $color_fg -i" --entry-type=name

# Change Focus
bindsym $mod+Down focus down
bindsym $mod+Left focus left
bindsym $mod+Right focus right
bindsym $mod+Up focus up

# Move Window
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Right move right
bindsym $mod+Shift+Up move up

# Split
bindsym $mod+h split h
bindsym $mod+v split v
bindsym $mod+t fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+r layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+f layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

bindsym Control+Mod1+Left workspace prev
bindsym Control+Mod1+Right workspace next

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# Exit/Restart/Reload
bindsym $mod+Shift+F exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
bindsym $mod+Shift+P restart
bindsym $mod+Shift+c reload

# Resize Mode
bindsym $mod+p mode "resize"

mode "resize" {
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt

        bindsym Escape mode "default"
        bindsym Return mode "default"
}

#
# i3bar
#

bar {
    status_command i3status -c /etc/xdg/i3status/config
    tray_output primary

    colors {
        background $color_bg
        statusline $color_fg_1
        separator $color_bg

        active_workspace $color_bg_1 $color_bg $color_fg
        focused_workspace $color_bg_1 $color_bg_1 $color_fg
        inactive_workspace $color_bg $color_bg $color_fg
        urgent_workspace $color_magenta $color_magenta $color_fg
    }
}
