pkgbase = i3-gnome
	pkgdesc = Starts i3 inside a gnome session.
	pkgver = 5.1
	pkgrel = 2
	url = https://github.com/TheMarex/i3-gnome
	arch = any
	license = MIT
	source = i3-gnome-5.1.zip::https://github.com/TheMarex/i3-gnome/archive/5.1.zip
	md5sums = c9a547518532b7b7f31e9f3574a2c03c

pkgname = i3-gnome

